<!DOCTYPE html>
<html>
<head>
  <title>NewsTematica</title>
  <%= stylesheet_link_tag    "news_tematica/application", :media => "all" %>
  <%= javascript_include_tag "news_tematica/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
