pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
.DS_Store
log/*.log
log/*.log.*
log/*.pid
tmp/**/*
tmp/*
rerun.txt
capybara-*.html
.bundle
/public/images/opiniones
/public/images/valoraciones
db/*.sqlite3
z*.txt
/config/database copia.yml
/config/database.yml
/public/images/avatar/
/log/newrelic_agent_store.db
a.html.*
bin/*
.rvmrc
webrat.log
*.log.0
.jhw-cache/*
jhw.*.html
coverage/*
.sass-cache/*/*
.ruby-gemset
.ruby-version
test/dummy/coverage/*
